{% extends "home/layout.html" %}


{% block main %}
<section class="section">
    <div class="myprofile">
        <img src="{{myprofile.profile.url}}" alt="">
        <label for="name">Name</label>
        <p id="name">{{context.myprofile.name.first_name}}</p>
        <label for="bio">Bio</label>
        <p id="bio">{{ context.myprofile.bio }}</p>
        <label for="number">Number</label>
        <p id="number">{{context.myprofile.phone_number}}</p>

    </div>
    <div class="introduction">
        <h2>{{context.introduction.title}}</h2>
        <p>{{context.introduction.text}}</p>
    </div>
</section>

<section class="section-one">
    {% for post in context.posts %}
    <div class="post" style="background-image: url( {{post.image.url}});"> 
        <a href="{% url 'post' post.id %}">
            <img src="{{post.image.url }}"  alt="">
            <h2>{{post.title}}</h2>   
        </a>
    </div>
    {% endfor %}
</section>

<section class="section-two">
    <h1>Section 2</h1>
    <div class="section-two-container">
       
        <div class="left-container">
            <h1>Latest Updates</h1>
            {% for project in context.projects %}
            <a href="{% url 'post' project.id %}">
                <img src="{{project.image.url}}" alt="">
                <h2>{{ project.title }}</h2>
            </a>
            {% endfor %}
        </div>

        {% for video in context.videos %}
        <div class="right-container">
            <video  autoplay muted controls>
                <source src="{{video.video.url}}" type="video/mp4">
            </video>
            <p>
                {{ video.title }}
            </p>
        </div>
        {% endfor %}
        
        
    </div>
</section>

{% endblock %}