<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/room1.css' %}">
</head>

<body class="">
    <header>

        <nav>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1 id="page-name">Zakweb</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="profile-page" >
                {% if profile.image %}
                    <img src="{{profile.image.url}}" alt="">
                {% else %}
                   <img src="{% static '/system/profile1.png' %}" alt="" >
                {% endif %}
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="login">Login</a>
            {% endif %}
        </nav>
        <div class="off-screen">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="switch">
                <label for="toggleSwitch">Dark mode</label>
                <input type="checkbox" id="toggleSwitch" role="button">
            </div>

        </div>

       

        </div>

    </header>
        <main>

        {% block main %}
        {% endblock %}

        </main>

    
    <script>
        const hamMenu = document.querySelector('.ham-menu');
        const offScreen = document.querySelector('.off-screen');
        const pageName = document.getElementById('page-name');
        hamMenu.addEventListener('click', () => {
            hamMenu.classList.toggle('active');
            offScreen.classList.toggle('active');
            pageName.classList.toggle('active');

        })
        // retrieve the dark mode setting from the local storage when the page loads 
        window.addEventListener('load',()=>{
            const darkModeEnabled = localStorage.getItem('darkMode') === 'true';
            const darkMode = document.querySelector('body');

            if (darkModeEnabled){
                darkMode.classList.add('dark');
            }
        })
        // the dark mode switch
        const toggleSwitch = document.getElementById('toggleSwitch');
        const darkMode = document.querySelector('body');

        toggleSwitch.addEventListener('click', () => {
            darkMode.classList.toggle('dark');


            // store the dark mode setting in local storage
            const darkModeEnabled = darkMode.classList.contains('dark');
            localStorage.setItem('darkMode',darkModeEnabled)

        })
        // give the search bar some features 
        let searchInput = document.getElementById('search-input');
        searchInput.addEventListener('keyup', e => {
            // get the current value from the input element 
            let currentValue = e.target.value.toLowerCase();
            // query the search inputs from the page
            let search = document.querySelectorAll('section');
            search.forEach(section => {
                console.log(typeof (section.textContent))
                if (section.textContent.toLowerCase().includes(currentValue)) {
                    section.style.display = 'block';

                } else{
                    document.querySelector('main').style.display = 'none';
                }
            })
        })
    </script>
</body>

</html>