<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/room1.css' %}">
</head>

<body class="">
    <header>

        <nav>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1 id="page-name">Zakweb</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="profile-page" >
                {% if profile.image %}
                    <img src="{{profile.image.url}}" alt="">
                {% else %}
                   <img src="{% static '/system/profile1.png' %}" alt="" >
                {% endif %}
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="login">Login</a>
            {% endif %}
        </nav>
        <div class="off-screen">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="switch">
                <label for="toggleSwitch">Dark mode</label>
                <input type="checkbox" id="toggleSwitch" role="button">
            </div>

        </div>

       

        </div>

    </header>
        <main>

        {% block main %}
        {% endblock %}

        </main>
        

    
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>