{% extends "home/layout.html"%}

{% block main %}

<div>
    <section class="first-part">
            <div>
                {% if form.image %}
                <img src="{{form.image.url}}" alt="">
                {% endif %}
                <h2>{{from.title}}</h2>
                <p>{{form.text}}</p>
                {% if form.image_2 %}
                <p> {{from.text_2}}<img src="{{form.image_2.url}}" alt=""></p>
                {% endif %}
                
            </div>
            
    </section>

</div>


{% endblock %}