{% extends 'home/layout.html' %}

{% block main %}
<form method="post" action="" class="sign-form">
    {% csrf_token %}
    <h2>Sign up</h2>
    <label for="username">Username</label>
    {{form.username}}
    <label for="email">Email</label>
    {{form.email}}
    <label for="password">Password</label>
    {{form.password1}}
    <label for="password2">Confirm password</label>
    {{ form.password2}}
    <ul>
        {% if messages %}
        {% for message in messages %}
            <li class="error-message">{{ message }}</li>
        {% endfor %}
        {% endif %}

    </ul>

    <button type="submit">Submit</button>
    <a href="{% url 'login' %}">already have an account</a>
</form>

{% endblock %}