/* Define CSS variables for reusability */
:root {
    --bg-color: rgba(255, 255, 255, 0.832);
    --shadow-color: rgb(184, 184, 184);
    --nav-bg-color: rgb(17, 122, 233);
    --main-bg-color: rgba(252, 252, 252, 0.63);
    --text-color: white;
    --body-text-color: black;
    --log-color: rgba(0, 166, 255, 0.828);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  
}

/* Apply default styles to all elements */


/* Apply font styles to the entire document */
body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--body-text-color);
    width: 100vw;
    max-width: 100vw;
 
}

/* set the dark theme colors*/
body.dark {
    --bg-color: rgb(19, 18, 18);
    --shadow-color: rgba(0, 0, 0, 0.337);
    --nav-bg-color: rgba(46, 46, 46, 0.666);
    --main-bg-color: rgba(0, 0, 0, 0.279);
    --text-color: white;
    --body-text-color: white;
    --log-color: rgba(0, 166, 255, 0.454);

}

/* ==================================================================================================*/


/* Styling for the navigation bar */
header {
    width: 100vw;
}
nav {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0.6rem;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    align-items: center;
    box-shadow: 4px 4px 4px var(--shadow-color);
    width: 100%;
  
}


/* Positioning for specific elements within the navigation bar */
.ham-menu {
    /* ham-menu for the slide bar */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
   
    /* Added margin-left for better alignment */
}

.ham-menu span {
    position: absolute;
    margin-top: 9%;
    left: 50%;
    background-color: white;
    height: 2px;
    width: 30px;
    border-radius: 7px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .4s;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(2) {
    top: 41%;
}

.ham-menu span:nth-child(3) {
    top: 56%;
}

/* set a role when the ham menu is active */
.ham-menu.active {
    left: calc(150px + 1%);
    /* Adjusted for off-screen menu width and margin */
}

.ham-menu.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(315deg);
    top: 50%;
}

.ham-menu.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.ham-menu.active span:nth-child(3) {
    opacity: 0;
}

nav h1 {
    margin-left: 40%;
   
}


/* style the login and the profile in nav bar */
.login {
    margin-left: auto;
    text-decoration: none;
    background-color: var(--log-color);
    border-radius: 5px;
    color: white;
    padding: 0.5rem;


}
.profile-page {
    position: relative;
    margin-left:auto;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
   
}

.profile-page img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}


/* the search bar */


/*============================================================================*/

/*  the side off-screen menu */
.off-screen {
    position: fixed;
    z-index: 2;
    top: -1%;
    left: -100%;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    transform: translate(1%, 0%);
    transition: transform .7s, opacity .5s, left .8s;
}

.off-screen ul {
    position: relative;
    color: var(--text-color);
    top: 2rem;
    gap: 1rem;
    right: 2.3rem;
    display: inherit;
    flex-direction: column;
    list-style: none;
}

.off-screen ul a {
    text-decoration: none;
    color: var(--text-color);
}

.off-screen li a:hover {
    width: 7rem;
    border-radius: 7px;
    background-color: rgb(180, 176, 176);
}

.off-screen.active {
    left: 0;

}

/* switch mode */
.switch {
    position: relative;
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    top: 8rem;

}

#toggleSwitch {
    appearance: none;
    position: relative;
    background-color: rgba(17, 252, 29, 0.745);
    width: 40px;
    height: 23px;
    outline: none;
    border-radius: 10px;

}

#toggleSwitch::after {
    content: '';
    position: absolute;
    top: 7%;
    left: 10%;
    background-color: azure;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: left .3s;
}

#toggleSwitch:checked {
    background-color: rgb(119, 119, 119);
}

#toggleSwitch:checked::after {
    left: 40%;
}


/* the main content of the page */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
    margin-left: 2rem;
    background-color: var(--main-bg-color);

}

@media only screen and (max-width: 580px) {
    * {
        overflow-x: hidden;      
    }
  
    nav {
        width: inherit;
    }
    .ham-menu {
        margin-left: 0;
        width: 40px;
        height: 40px;
    }
    .ham-menu span {
        width: 24px;
        height: 1.5px;
    }

    nav h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: relative;
        left: 25%;
        margin-left: 0;
        font-size: 1rem;
        font-weight: 400;
        font-style: oblique;
    }
    nav h1.active {
        display: none;
    }
   

    main {
        margin-top: 5rem;
        width: 100vw;
        margin-left: -1%;
    }


}

/*============================================================================*/
.section {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    color: black;
    border-bottom: 2px solid rgb(127, 212, 251);
    width: 100vw;
    padding: 1rem;
    overflow: hidden;

}

.myprofile {
    background-color: rgba(227, 248, 255, 0);
    color: var(--body-text-color);
    position: relative;
    margin-left: 4%;
    width: 18rem;
    min-width: 12rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow-color);


}

.myprofile img {
    margin-top: 1rem;
    margin-bottom: 0.9rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;

}

.myprofile label {
    color: gray;
}

.myprofile p {
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    width: 90%;
    padding: 0.3rem;
    font-size: small;
    cursor: pointer;
    border-bottom: 1px solid rgba(134, 134, 134, 0.983);
}

.myprofile p:hover {
    border: 1px solid;
    border-radius: 7px;
    background-color: rgba(228, 240, 250, 0.492);
}



.introduction {
    background-color: whitesmoke;
    margin-left: 4%;
    width: 62%;
    border-radius: 4px;
    padding: 0.9rem;
    white-space: pre-wrap;

}

.introduction h2 {
    margin-bottom: 1rem;
}

.introduction p {
    position: relative;
    width: 100%;
    line-height: 1.5rem;
    line-break: auto;
    margin-bottom: 1rem;

}
@media only screen and (max-width: 1090px){
    .myprofile{
        width: 40%;
        height: 23rem;
        margin-left: 20%;
        margin-bottom: 1rem;

    }
    .introduction {
        width: 95%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 580px) {
    .section {
        width: 100%;
    }

    .myprofile {
        display: none;
        margin: 4%;
        width: 80%;
        height: 25rem;
        margin-bottom: 1rem;
    }

    .introduction {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}

/* =========================================================================*/
.section-one {
    display: grid;
    grid-auto-flow: column;
    gap: 1%;
    width: 100vw;
    border-bottom: 1px solid rgb(86, 202, 237);
    padding: 1rem;
    border-radius: 7px;
    overflow-x: scroll;

}

.post {
    color: white;
    position: relative;
    width: 17rem;
    height: 21rem;
    object-fit: cover;
}

.post:hover {
    box-shadow: 0px 0px 10px rgb(125, 238, 255);

}

.post a {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 0.7rem;
    justify-content: center;
}

.post img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    overflow: hidden;

}

.post img:hover {
    zoom: 10;
}

.post h2 {
    color: rgb(255, 255, 255);
    background-color: rgba(122, 122, 123, 0.33);
    padding: 0.7rem;
    top: 94%;

}

@media only screen and (max-width: 580px) {
    .section-one {
        width: 100%;
    }

    .post {
        width: 13rem;
        border-radius: 5px;
        height: 21rem;
    }
}

/*========================================================================*/

.section-two {
    border-top: 2px solid rgb(86, 202, 237);
    border-bottom: 2px solid rgb(86, 202, 237);
    padding: 1rem;
    width: 100vw;
    height: fit-content;

}

.section-two h1 {
    position: relative;
    left: 45%;
}

.section-two-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    height: 100%;
    margin-top: 3.5rem;
    margin-left: 20%;
    margin-right: 20%;

}

.left-container {
    display: flex;
    flex-direction: column;
    height: 40rem;
    width: 20rem;
    margin-bottom: 1rem;
    min-width: 17rem;
    background-color: rgba(176, 176, 176, 0.37);
    box-shadow: 0px 0px 4px var(--shadow-color);
}

.left-container h1 {
    position: relative;
    left: 0;
    border-left: 0.5rem solid rgba(255, 255, 0, 0.778);
    padding-left: 0.3rem;
    margin-bottom: 0.5rem;
}

.left-container a {
    display: flex;
    width: 100%;
    height: 10%;
    text-decoration: none;
    border-bottom: 0.5px solid gray;
    padding: 0.3rem;
    min-width: 100%;
    cursor: pointer;
}

.left-container img {
    width: 5rem;
    height: 100%;
    object-fit: cover;

}

.left-container h2 {
    color: var(--body-text-color);
    font-variant: petite-caps;
    padding: 0.2rem;
    font-size: small;
    width: 14rem;
    border-left: 1px solid gray;
}

.left-container a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.417);
}

.right-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 34rem;
    height: 25rem;
    border: 1px solid gray;

}

.right-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-container a {
    padding: 0.5rem;
    font-variant: petite-caps;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

@media only screen and (max-width:480px) {
    .section-two-container {
        height: 100%;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .left-container {
        width: 100%;
        margin-bottom: 0.5rem;
        margin-left: 0;
    }

    .right-container {
        width: 100%;
        margin: 0 auto;

    }
    .right-container video {
        max-width: 100%;
    }
}

/* sytle the form element */

form {
    display: flex;
    width: 25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}
@media only screen and (max-width=480px){
    form {
        margin-right: 0;
    }
}

form button {
    width: 42%;
    padding: 0.5rem;
    background-color: rgba(32, 95, 254, 0.98);
    color: white;
    margin-bottom: 1rem;
    border: 0.5px solid white;
    border-radius: 6px;
    cursor: pointer;
}
.login-form {
    height: 25rem;
    margin: 1rem;
    padding: 1rem;
}
.login-form h2,
.sign-form h2 {
    color: rgb(104, 104, 104);
    font-style: italic;
    font-weight: 600;
    font-size: 1.4rem;
}

.login-form input, 
.sign-form input {
    width: 70%;
    height: 2rem;
    border: 1px gray;
    border-radius: 6px;
    padding: 0.5rem;
    background-color: rgb(225, 230, 234);


}

.user-image {
    visibility: hidden;
    position: absolute;
}

.label-image {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border: 0.1px solid rgb(51, 191, 251);
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 3px gray ;
    border-radius: 2px;
}
.label-image img {
    width: 98%;
    height: 98%;
    border-radius: 50%;
    margin-left: 1%;
    object-fit: cover;
    object-position: center top;

}
.user-name,
.user-bio {
    border: none;
    border-bottom: 1.5px solid rgb(212, 207, 207);
    width: 60%;
    height: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.user-profile  button,
.cancel-button {
    width: 40%;
    padding: 0.5rem;
    background-color: rgba(32, 95, 254, 0.98);
    color: white;
    margin-bottom: 0.5rem;
    border: 0.5px solid white;
    border-radius: 6px;
    cursor: pointer;
}
.user-profile h2 {
    font-style: italic;
    font-weight: 400;
    color: gray;
}
.delete-button {
    width: 20%;
    background-color: rgb(234, 234, 234);
    border: 1px white;
    border-radius: 2px ;
    padding: 0.2rem;
    
}

