/* style the post.html file */

.main-post {
    position: relative;
    width: 50vw;
    box-shadow: 0px 0px  4px var(--shadow-color);
}
.post-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.post-contents p {
    background-color: var(--bg-color);
    line-height: 1.5rem;
    white-space: pre-wrap;
    padding: 1rem;


}
.post-contents img {
    width: 100%;
    object-fit: cover;
}
.post-contents video {
    width: 100%;
    border-radius: 5px;
    margin: 1rem;
}
@media only screen and (max-width: 580px){
    main {
        margin-left: 0;
    }
    .main-post {
        width: 100vw;
        box-shadow: none ;
    }
   
}